/* styles.css */

/* Reseta margens e preenchimento padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bakbak One", sans-serif;
}

.bakbak-one-regular {
  font-family: "Bakbak One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.pag1{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content:center;
  font-size: 30px;
  gap: 20px;
}

.h1-text{
  font-size: 60px;
}

.h1{
  margin-left: 100px;
  font-size: 60px;
}

.p1{
  margin-left: 150px;
  margin-right: 150px;
  font-size: 30px;
}

.text-article{
  margin-left: 150px;
  margin-right: 150px;
  font-size: 30px;
justify-content: center;}

.text-article2{
  margin-left: 100px;
  margin-right: 150px;
  font-size: 30px;
justify-content: center;
}

.text-article3{
  margin-left: 150px;
  margin-right: 150px;
  font-size: 30px;
justify-content: center;
}
/* Estilos do menu lateral */
.sidebar {
  height: 100vh;
  width: 80px; /* Largura inicial do menu */
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: width 0.3s; /* Transição suave para abrir/fechar */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.toggle-btn {
  background: none;
  border: none;
  color: rgb(216, 211, 211);
  font-size: 24px;
  cursor: pointer;
  display: block;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: opacity 0.3s; /* Transição suave para a visibilidade dos botões */
  opacity: 0;
  visibility: hidden;
  color: white;
}

.nav-btn {
  background-color: rgb(243, 3, 3);
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  width: 60%;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
 
}

.nav-btn:hover {
  background-color: #500d0d;
}

/* Estilos do conteúdo principal */
.content {
  margin-left: 80px; /* Ajusta a margem para a largura inicial do menu */
  padding: 20px;
}

/* Quando o menu estiver aberto */
.sidebar.open {
  width: 250px;
}

.sidebar.open .sidebar-content {
  opacity: 1;
  visibility: visible;
}
.nav-btn a{
  text-decoration: none;
  color: white  ;
  font-family:sans-serif;
 font-weight:900;
}
.last{
  background-color: rgb(243, 3, 3);
  color: white;
  border: none;
  padding: 10px;
  margin: 500px;
  border-radius: 4px;
  width: 60%;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
 
}
.last:hover {
  background-color: #500d0d;
}
.last a{
  text-decoration: none;
  color: white  ;
  font-family:sans-serif;
 font-weight:900;
}
