/* styles.css */

/* Reseta margens e preenchimento padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bakbak One", sans-serif;
}
.bakbak-one-regular {
  font-family: "Bakbak One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Estilos gerais do corpo */
body {
  font-family: Arial, sans-serif;
}
.title{
  margin-top: 5vh;
  text-align: center;
  font-size: 64px; 
}

.text-img{
  font-size: 37px;
  margin-left: 100px;
  margin-right: 5vh;
  margin-bottom: 100px;
  @font-face { 
    font-family: 'Bakbak One';
    src: url('https://fonts.google.com/specimen/Bakbak+One?query=Bakbak+One'); 
   } 
}

aside{
  display: flex;
  margin-left: 10%;
}

p{
  margin-bottom: 10vh;
}

.center{
font-size: 37px;
margin-left: 10%;
margin-right: 5%;
margin-top: 100px;
margin-bottom: 100px;
/* margin-left: 170px; */
  @font-face {
    font-family: 'Bakbak One';
    src: url('https://fonts.google.com/specimen/Bakbak+One?query=Bakbak+One');
  }
}

.div1 a{
  text-decoration: none;
  font-size: 40px;
  color: black;
}
.div2 a{
  text-decoration: none;
  font-size: 40px;
  color: black;
}

.article-button{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 500px;
  font-size: 30px;
}

.article-img{
  display: flex;
  margin-left: 40px;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 40px;
  text-align: center;
  margin-right: 70px;
  margin-bottom: 0px;
  gap: 320px;
}

.saiba-mais{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items:center ;
  margin-left:0px ;
  margin-right: 70px;
  margin-bottom: 40px;
  gap: 320px;


}

.div1{
  border: 15px;
  background-color:#262626;
  height: 70px;
  width: 500px;
}

.div2{
  border: 15px;
  background-color:#262626;
  height: 70px;
  width: 500px;
}

.text-article-button1{
font-size: 30px;
}

.text-article-botton2{
  font-size: 30px;
}

.last-text{
  font-size: 30px;
  margin-left: 150px;
  margin-right: 150px;
}

/* Estilos do menu lateral */
.sidebar {
  height: 100vh;
  width: 100px; /* Largura inicial do menu */
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: width 0.3s; /* Transição suave para abrir/fechar */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.toggle-btn {
  background: none;
  border: none;
  color: rgb(216, 211, 211);
  font-size: 24px;
  cursor: pointer;
  display: block;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: opacity 0.3s; /* Transição suave para a visibilidade dos botões */
  opacity: 0;
  visibility: hidden;
  color: white;
}

.nav-btn {
  background-color: rgb(243, 3, 3);
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 60%;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
 
}

.nav-btn:hover {
  background-color: #500d0d;
}

/* Estilos do conteúdo principal */
.content {
  margin-left: 80px; /* Ajusta a margem para a largura inicial do menu */
  padding: 20px;
}

/* Quando o menu estiver aberto */
.sidebar.open {
  width: 250px;
}

.sidebar.open .sidebar-content {
  opacity: 1;
  visibility: visible;
}
.nav-btn a{
  text-decoration: none;
  color: white  ;
  font-family:sans-serif;
 font-weight:900;
}
.last{
  background-color: rgb(243, 3, 3);
  color: white;
  border: none;
  padding: 10px;
  margin: 500px;
  border-radius: 4px;
  width: 60%;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
 
}
.last:hover {
  background-color: #500d0d;
}
.last a{
  text-decoration: none;
  color: white  ;
  font-family:sans-serif;
 font-weight:900;
}

.footer{
  height: 30px;
  width: 100%;
  background-color: #262626;
}

.button{
  display: flex;
  height: 50px;
  width: 500px;
  background-color: rgb(70, 60, 62);
  margin-bottom: 30px;
}


